attrs==24.3.0
Automat==24.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
constantly==23.10.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
lxml==5.3.0
requests==2.32.3
setuptools==75.1.0
Twisted==24.11.0
typing_extensions==4.12.2
urllib3==2.2.3
vlermv==2.0.0
wheel==0.44.0
zope.interface==7.2
